# Environment variables for the spoke-genelab KG
#
# Copy this file to .env and set the following variables according to your local installation.
#
KG_VERSION=v0.0.3
# Path to the spoke_genelab repo
KG_GIT=<absolute path to spoke_genelab repo>
# Path to the Neo4J instance in Neo4j Desktop
NEO4J_INSTALL_PATH="<path to Neo4j instance>"
#
# API for BioPortal
BIOPORTAL_API_KEY=<bioportal api key>
#
# The following environmental variables don't need to be changed.
#
NEO4J_USE_SUDO=False
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=neo4jdemo
NEO4J_DATABASE=spoke-genelab-${KG_VERSION}
NEO4J_HOME=${NEO4J_INSTALL_PATH}
NEO4J_BIN=${NEO4J_HOME}/bin
# KG metadata and data files
NEO4J_METADATA=${KG_GIT}/kg/${KG_VERSION}/metadata
NEO4J_DATA=${KG_GIT}/kg/${KG_VERSION}/data
# Graph style sheet URL and file
NEO4J_STYLESHEET_URL=https://raw.githubusercontent.com/BaranziniLab/spoke_genelab/main/kg/${KG_VERSION}/style.grass
NEO4J_STYLESHEET=${KG_GIT}/kg/${KG_VERSION}/style.grass
# Addional cypher statements to be run after database creation, e.g., database administration. 
#    The whole multiline expression must be quoted as shown in the example below.
#    One cypher statement per line terminated with a semicolon.
#    Use ${NEO4J_DATABASE} in the cypher statements to specify the database.
#    Example:
#    NEO4J_CYPHER="<cypher statement 1>;
#    <cypherstatment_2>;
#    ...
#    <cypherstatment_n>;" 
#
NEO4J_CYPHER=""
